<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2> Reporte Avistamientos</h2>
<table>
    <tr>
        <th>Nombre</th>
        <th>Total</th>
        <th>insecto</th>
        <th>aracnido</th>
        <th>miriapodo</th>
        <th>no se</th>
        <th>vivo</th>
        <th>muerto</th>
    </tr>
    <tr>
        <td>${comuna.nombre}</td>
        <td>${comuna.totalAvistamientos}</td>
        <td>${comuna.insecto}</td>
        <td>${comuna.aracnido}</td>
        <td>${comuna.miriapodo}</td>
        <td>${comuna.nose}</td>
        <td>${comuna.vivo}</td>
        <td>${comuna.muerto}</td>
    </tr>

</table>

</body>
</html>