<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="shortcut icon" href="#">
  <title>Reporte Comunas</title>
  <script
          src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script th:inline="javascript">
    let real_data = /*[[${comunas}]]*/'noValue';
    $(document).ready(function() {
      $("#nameInput").autocomplete({
        minLength : 1,
        source : function( request, response ) {
        let matcher = new RegExp( "^" + $.ui.autocomplete.escapeRegex( request.term ), "i" );
        response( $.grep( real_data, function( item ){
          return matcher.test( item );
        }) );
      },
        select : function (e, ui){
            let url = "/"
            if($('#nameInput').val() !== '') {
              url = url + ui.item.value;
            }
            $.ajax({
              type: "POST",
              url: url
            })
            $("#reporte").load(url);
          }

      })
    });
  </script>
</head>
<body>
<script>
  function mandarComuna(com){
    $.ajax({
      url: "/",
      type: "POST",
      data: com
    })

  }
</script>
<div class="ui-widget">
  <form method="POST"  >
    <label for="nameInput">search Name: </label><input id="nameInput" />
      <h3 id="nameOutput"></h3>
    <button type="button" onclick="mandarComuna($('#nameInput').val())">submit</button>
  </form>
  <div id="reporte"></div>
  </div>

</body>
</html>